@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i&display=swap');

/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* remover linha abaixo depois da estrutura*/
	/* border: 1px solid rgba(0,0,0,0.7); */
}

html {
	font-size: 16px;
	line-height: 1.5;
}

body {
	background-color: rgb(245, 245, 245);
	font-family: 'Raleway', Tahoma, sans-serif;
	color: #393939;
}

/* Formatacao geral das fontes */
h1 { font-size: 1.75rem; }

h2 { font-size: 1.5rem; }

h3 { font-size: 1.25rem; }

h4 { font-size: 1rem; }

h1, h2, h3, h4, h5, h6 {
    /* margin-bottom: .5rem; */
    font-weight: 500;
    line-height: 1.2;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

/* Formatacao do header#cabecalho */
header#cabecalho {
	display: table;
	margin: 0 auto;
	margin-top: 3%;
}

.cabecalho-inner h1 {
	font-size: 2.8125rem;
	font-weight: 500;
	text-align: center;
}

/* Estilo do logo do site */
.cabecalho-inner h1 span:first-child {
	font-family: 'Raleway Semibold', Tahoma, sans-serif;
	color: #6f68a3;
}

.cabecalho-inner h1 span:last-child {
	font-weight: 400;
	font-style: italic;
}

.cabecalho-inner div.container-add-tarefa {
	position: relative;
	margin-top: 5%;
	display: flex;
}

.container-add-tarefa input.input-add-tarefa {
	width: 280px;
	height: 42px;

	box-sizing: border-box;
	border-radius: 6px;
	border: 2px solid rgb(228, 228, 228);
	font-size: 0.9375rem;
	line-height: 2.5rem;
	padding-left: 0.9375rem;
	font-family: inherit;

	transition: 200ms;
}

	/* Efeito de sombra quando input ter foco */
	input.input-add-tarefa:focus {
		outline: none;
		border: 2px solid rgba(111, 104, 163, 0.7);		
		box-shadow: 0 0 8px 2px rgba(111, 104, 163, 0.25);
	}

.container-add-tarefa .btn-add-tarefa {
	position: absolute;/* garante que o btn sempre esteja ao lado do input */
	right: -40px;/* faz com que o btn sempre tenha 12px de espaco entre o input */
	width: 32px;
	height: 42px;/* altura do btn precisa ser igual a altura do input */
	border: none;/* remove button standard style */

	background: url(../assets/svg/add-regular.svg) no-repeat 50% 50%;
	background-size: 32px 32px;
	cursor: pointer;
	transition: 100ms;
}

.container-add-tarefa .btn-add-tarefa:hover { background: url(../assets/svg/add-solid.svg) no-repeat 50% 50%; }
.container-add-tarefa .btn-add-tarefa:active { transform: scale(0.9); }

/* Interface geral */
div#interface-geral {
	width: 70%;
	min-width: 57.1875rem; /* Evitar que seja menor que 915px em telas maiores que 1366px */
	margin: 3% auto 0 auto;
}

/* Formatacao da secao de cards */
/* Formatacao do container geral */
section#container-cards {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* Formatacao de geral de todos os cards */
section#container-cards .cards {
	width: 17.5rem;
	height: 100%;
	min-height: 17.5rem;
	margin-bottom: 1.5rem;

	background-color: white;
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
	border-radius: 10px;

	transition: box-shadow 300ms;
}

/* Aumentar a sombra do card quando passar o mouse */
section#container-cards .cards:hover {
	box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.25);
}

/* Formatacao da container invisivel que cerca o conteudo do card */
.cards .inner-card {
	display: table;
	max-width: 95%;
	margin: 1.25rem auto 3.125rem auto;
}

/* Titulo dos cards */
.inner-card div.card-titulo {
	width: 5rem;
	margin: 0 auto;
	padding: 1.25rem 0;
	padding-bottom: 1.875rem;
	border-bottom: 2pt solid #393939;
}

.card-titulo h2 {
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
}

/* Lista e itens da lista */
ul.card-list-container {
	margin-top: 2.2rem;
}

ul.card-list-container li {
	display: table;
	margin: 0 auto;
	padding: 10px 14px;
	border-radius: 50px;

	text-align: center;
	list-style: none;
	word-break: break-all;

	background-size: 45px 13px;
	background-repeat: no-repeat;
	background-position: 95% center;

	cursor: pointer;
	transition: 200ms;
}

ul.card-list-container li:hover {
	padding-right: 40px;
	background-position: right center;
	background-color: rgb(245, 245, 245);
}

/* Alterar a cor do fundo ao clicar nas listas */
ul.card-list-container li:active { background-color: rgb(235, 235, 235); }

/* Add uma imagem do icone especifico de cada card */
#card-todo ul.card-list-container li:hover { background-image: url(../assets/svg/right-arrow-todo.svg); }
#card-doing ul.card-list-container li:hover { background-image: url(../assets/svg/right-arrow-doing.svg); }
#card-done ul.card-list-container li:hover { background-image: url(../assets/svg/close.svg); }

/* Cor da borda inferior do titulo de cada card */
#card-todo div.card-titulo { border-bottom-color: rgba(255, 47, 99, 0.5); }
#card-doing div.card-titulo { border-bottom-color: rgba(253, 177, 115, 0.5); }
#card-done div.card-titulo { border-bottom-color: rgba(0, 200, 200, 0.5); }

div#card-done ul li { text-decoration: line-through; }

/* Footer */
footer p {
	padding: 1rem;

	text-align: center;
	font: Italic 0.875rem Arial;
	letter-spacing: 0;
	color: #888888;
}

footer p a {
	text-decoration: none;
	color: inherit;
}

footer p a:hover {
	color: #393939;
}

/* Para dispositivos menores que 1024px para baixo */
@media only screen and (max-width: 1024px) {
	header#cabecalho {
		margin-top: 2.5rem;
	}

	div#interface-geral {
		width: 280px;
		min-width: 280px;
		margin-top: 2.5rem;
    }
    
    section#container-cards {
		width: 280px;		
		margin: 0 auto;
        flex-direction: column;
        flex-wrap: nowrap;
	}

	.cabecalho-inner div.container-add-tarefa {
		width: 280px;
	}

	.container-add-tarefa input.input-add-tarefa {
		width: 238px;
	}

	.container-add-tarefa .btn-add-tarefa {
		right: 0px;
	}
}
