@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i&display=swap');

/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* remover linha abaixo depois da estrutura*/
	/* border: 1px solid rgba(0,0,0,0.7); */
}

html {
	font-size: 16px;
	line-height: 1.5;
}

body {
	background-color: rgb(245, 245, 245);
	font-family: 'Raleway', Tahoma, sans-serif;
	color: #393939;
}

/* Formatacao geral das fontes */
h1 { font-size: 1.75rem; }

h2 { font-size: 1.5rem; }

h3 { font-size: 1.25rem; }

h4 { font-size: 1rem; }

h1, h2, h3, h4, h5, h6 {
    /* margin-bottom: .5rem; */
    font-weight: 500;
    line-height: 1.2;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

/* Formatacao do header#cabecalho */
header#cabecalho {
	width: 100%;
	margin-top: 5%;
}

div.cabecalho-inner {
	width: 420px;
	/* height: 123px; */
	margin: 0 auto;
}

.cabecalho-inner h1 {
	font-size: 45px;
	font-weight: 500px;
	text-align: center;
}

.cabecalho-inner div.container-add-tarefa {
	width: fit-content;
	margin: 0 auto;
	margin-top: 7%;
	display: flex;
}

.container-add-tarefa input.input-add-tarefa {
	width: 280px;
	height: 40px;
	margin-right: 10px;

	border-radius: 6px;
	border: 2px solid rgb(228, 228, 228);
	font-size: 15px;
	line-height: 40px;
	padding-left: 15px;
	font-family: inherit;

	transition: 200ms;
}

	/* Efeito de sombra quando input ter foco */
	input.input-add-tarefa:focus {
		outline: none;
		border: 2px solid rgba(111, 104, 163, 0.7);		
		box-shadow: 0 0 8px 2px rgba(111, 104, 163, 0.25);
	}

.container-add-tarefa .btn-add-tarefa {
	width: 36px;
	height: 36px;
	margin-top: 5px;

	text-align: center;
	line-height: 36px;
	color: #6F68A3;
	cursor: pointer;
}

.btn-add-tarefa i {
	font-size: 36px;
}

/* Interface geral */
div#interface-geral {
	width: 70%;
	min-width: 915px; /* Evitar que seja menor que 915px */
	margin: 4% auto 0 auto;
}

/* Formatacao da secao de cards */
/* Formatacao do container geral */
section#container-cards {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* Formatacao de geral de todos os cards */
section#container-cards .cards {
	width: 280px;
	height: fit-content;
	min-height: 280px;
	margin-bottom: 1.5rem;

	background-color: white;
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.10);
	border-radius: 10px;

	transition: box-shadow 300ms;
}

/* Aumentar a sombra do card quando passar o mouse */
section#container-cards .cards:hover {
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
}

/* Formatacao da container invisivel que cerca o conteudo do card */
.cards .inner-card {
	width: 200px;
	margin: 20px auto 50px auto;
}

/* Titulo dos cards */
.inner-card div.card-titulo {
	width: 130px;
	margin: 0 auto;
	padding: 20px 0;
	padding-bottom: 30px;
	border-bottom: 2px solid #393939;
}

.card-titulo h2 {
	font-size: 24px;
	font-weight: 500;
	text-align: center;
}

/* Lista e itens da lista */
ul.card-list-container {
	margin-top: 40px;
}

ul.card-list-container li {
	position: relative;

	text-align: center;
	font-style: italic;
	list-style: none;
	cursor: pointer;
	margin-bottom: 15px;
}

/* Mostrar e tirar os icones de cada item da lista */
ul.card-list-container li i {
	visibility: hidden;
	position: absolute;
	top: 5px;
	margin-left: 6px;

	font-size: 14px;
}

ul.card-list-container li:hover i {
	visibility: visible;
}

/* Card To Do */
div#card-todo div.card-titulo {
	border-bottom: 2px solid rgba(255, 47, 99, 0.5);
}

/* Card Doing */
div#card-doing div.card-titulo {
	border-bottom: 2px solid rgba(253, 177, 115, 0.5);
}

/* Card Done */
div#card-done div.card-titulo {
	border-bottom: 2px solid rgba(0, 200, 200, 0.5);
}

div#card-done ul {
	text-decoration: line-through;
}

/* Para dispositivos menores que 1024px para baixo */
@media only screen and (max-width: 1024px) {
	div#interface-geral {
		width: 420px;
		min-width: 420px;
    }
    
    section#container-cards {
		width: fit-content;
		margin: 0 auto;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
